*{
    margin: 0;
}
body{
    width: 100vw;
}
.general-width{
    width: 80vw;
    margin-left: 10vw;
}
/*-------------------------header-----------------------*/
header{
    height: 70vh;
    background-color: #000;
    background-image: url("img/image/bg-header.png");
    background-position: right;
    background-repeat: no-repeat;
}
.nav-header{
    padding-top: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.img-header{
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    padding-bottom: 10px;
}
a{
    text-decoration: none;
    margin-right: 50px;
}
.a1-header{
    color: #FF4B32;
    font-family: "Josefin Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}
.a2-header{
    color: #FF4B32;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 28.8px */
}
.a3-header, .a4-header, .a5-header, .a6-header{
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 28.8px */
}
.text-header{
    width: 36vw;
    margin-top: 9vh;
}
.h-header{
    color: #FFF;
    font-family: "Josefin Sans", sans-serif;
    font-size: 58px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 69.6px */
}
.p-header{
    margin-top: 2vh;
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 32px */
}
.but-header{
    margin-top: 3vh;
    border-radius: 5px;
    background: #FF4B32;
    display: inline-flex;
    padding: 16px 35px;
    align-items: flex-start;
    gap: 10px;
    text-decoration: none;
}
/*-------------------------header-----------------------*/
/*--------------------------offer------------------------*/
.offer{
    height: 90vh;
}
.h2-offer{
    margin-top: 10vh;
    color: #000;
    font-family: "Josefin Sans", sans-serif;
    font-size: 43px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 55.9px */
    letter-spacing: .6rem;
}
.p-offer{
    width: 36vw;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 28.8px */
}
.img-offer{
    margin-top: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.img-offer-left, .img-offer-center, .img-offer-right{
    width: 30%;
    display: flex;
    flex-direction: column;
}
.span-offer{
    margin-top: 3vh;
    color: #0C0D0C;
    font-family: "Josefin Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 36px */
}
.span-offer-right{
    margin-top: 6vh;
    color: #0C0D0C;
    font-family: "Josefin Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 36px */
}
.h3-offer{
    color: #000;
    font-family: "Josefin Sans", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 41.6px */
}
.p-img-offer-1{
    margin-top: 4vh;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
}
.p-img-offer{
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
}
/*--------------------------offer------------------------*/
/*--------------------------gallery----------------------*/
.gallery{
    display: flex;
    height: 100vh;
    text-align: center;
}
.h2-gallery{
    margin-bottom: 1vh;
    color: #000;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 43px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 55.9px */
}
.p-gallery{
    margin-bottom: 4vh;
    color: #000;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 28.8px */
}
.img-gallery{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5vh;
}
.img-gallery-1, .img-gallery-2, .img-gallery-3{
    width: 362px;
    height: 330px;
    margin-bottom: 2vh;
}
.img-gallery-1, .img-gallery-2{
    margin-right: 2vw;
}
.img-gallery-4, .img-gallery-5, .img-gallery-6{
    width: 362px;
    height: 230px;
}
.img-gallery-4, .img-gallery-5{
    margin-right: 2vw;
}
.a-gallery{
    color: #FF4B32;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}
/*--------------------------gallery----------------------*/
/*--------------------------follow----------------------*/
.follow{
    height: 60vh;
    background-image: url("img/image/bg-follow.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.text-follow{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.h3-follow{
    margin-top: 8vh;
    color: #FF4B32;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 36px */
}
.h2-follow{
    margin-top: 4vh;
    color: #FFF;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 43px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 55.9px */
}
.tell-follow{
    margin-top: 4vh;
    color: #FFF;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
}
.gmail-follow{
    margin-top: 2vh;
    color: #FFF;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
}
.svg-follow{
    padding-right: 1vw;
}
.logo-follow{
    margin-top: 3vh;
}
.svg-logo-follow{
    margin-right: 3vw;
}
/*--------------------------follow----------------------*/
/*--------------------------news----------------------*/
.news{
    height: 100vh;
    text-align: center;
}
.h2-news{
    padding-top: 10vh;
    color: #000;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 43px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 55.9px */
}
.p-news{
    margin-top: 1vh;
    color: #000;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 28.8px */
}
.img-news{
    margin-top: 4vh;
    display: flex;
    flex-direction: row;
}
.img-box-news1, .img-box-news2{
    text-align: left;
    width: 362px;
    height: 536px;
    margin: 0 30px 0 0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 40px 15px 136px 0 rgba(0, 0, 0, 0.20);
}
.img-box-news3{
    text-align: left;
    width: 362px;
    height: 536px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 40px 15px 136px 0 rgba(0, 0, 0, 0.20);
}
.h3-news{
    padding: 30px 0 10px 30px;
    text-align: left;
    color: #000;
    font-family: "Josefin Sans", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 41.6px */
}
.img-p-news{
    text-align: left;
    padding: 0 30px 20px 30px;
}
.a-news{
    padding-left: 30px;
    color: #FF4B32;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 25.6px */
}
/*--------------------------news----------------------*/
/*--------------------------footer----------------------*/
footer{
    background-color: black;
    height: 40vh;
}
.top-footer{
    display: flex;
    flex-direction: row;
}
.box-footer1, .box-footer2, .box-footer3{
    width: 18vw;
    justify-content: left;
    padding-right: 3vw;
    padding-left: 0;
}
.box-footer1{
    padding-top: 6vh;
}
.box-footer2{
    padding-top: 7vh;
    display: flex;
    flex-direction: column;
}
.box-footer3{
    padding-top: 7vh;
    display: flex;
    flex-direction: column;
}
.box-footer4{
    padding-top: 7vh;
}
.logo-footer{
    display: flex;
    align-items: center;
    color: #FF4B32;
    font-family: "Josefin Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 31.2px */
}
.h2-footer{
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
}
.p-footer{
    margin-top: 30px;
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 28.8px */
}
.tel-footer{
    margin-top: 30px;
    display: flex;
    /*align-items: center;*/
}
.a-footer{
    margin-left: 3px;
    color: #FFF;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}
/*.ul1-footer{*/
/*    list-style-type: none;*/
/*    !*list-style-position: inside;*!*/
/*    text-align: left;*/
/*    color: #FFF;*/
/*    font-family: "Open Sans", sans-serif;*/
/*    font-size: 18px;*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    line-height: 150%; !* 27px *!*/
/*}*/
.box-footer3{
    display: flex;
    flex-direction: column;
}
.span-footer{
    text-align: left;
    padding-top: 22px;
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}
.copyright-footer{
    padding-top: 40px;
    color: #FFF;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
}
.svg-logo-footer{
    padding-top: 50px;
}
/*--------------------------footer----------------------*/