@media screen and (min-width: 601px) and (max-width: 1100px) {
    /*.main-news{*/
    /*    height: 125vh;*/
    /*    display: flex;*/
    /*    justify-content: center;*/
    /*    align-content: center;*/
    /*    flex-direction: column;*/
    /*    padding: 30px 0 0 0;*/
    /*}*/
    /*.box-news{*/
    /*    width: 80vw;*/
    /*    height: 105vh;*/
    /*    display: flex;*/
    /*    justify-content: center;*/
    /*    align-content: center;*/
    /*    flex-direction: row;*/
    /*    flex-wrap: wrap;*/
    /*}*/
    /*.inner-box{*/
    /*    margin-bottom: 30px;*/
    /*    width: 35vw;*/
    /*    height: 52vh;*/
    /*}*/
    /*.inner-box img{*/
    /*    width: 35vw;*/
    /*    height: 29vh;*/
    /*}*/
    /*.text-box{*/
    /*    width: 35vw;*/
    /*    height: 23vh;*/
    /*    text-align: left;*/
    /*    display: flex;*/
    /*    justify-content: center;*/
    /*    align-content: center;*/
    /*    flex-direction: column;*/
    /*}*/
    /*.h2-news{*/
    /*    font-size: 35px;*/
    /*}*/
    /*.p-news{*/
    /*    font-size: 16px;*/
    /*}*/
    /*.h3-text-box{*/
    /*    font-size: 25px;*/
    /*}*/
    /*.p-text-box{*/
    /*    font-size: 14px;*/
    /*}*/
    /*.a-text-box{*/
    /*    font-size: 14px;*/
    /*}*/

/*------------------------*/
    .news {
        height: 135vh;
    }
    .main-news{
        height: 135vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 50px 0 0 0;
    }
    .box-news{
        width: 35vw;
        height: 200vh;
        display: flex;
        justify-content: center;
        align-content: center;
        /*flex-direction: column;*/
        flex-wrap: wrap;
    }
    .inner-box{
        margin-bottom: 30px;
        width: 35vw;
        height: 48vh;
    }
    .inner-box:nth-child(1){
        margin-right: 0;
    }
    .inner-box:nth-child(2){
        margin-right: 0;
    }
    .inner-box img{
        width: 35vw;
        height: 27vh;
    }
    .text-box{
        width: 35vw;
        height: 21vh;
        text-align: left;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }
    .h2-news{
        font-size: 40px;
    }
    .p-news{
        font-size: 18px;
    }
    .h3-text-box{
        font-size: 27px;
    }
    .p-text-box{
        font-size: 16px;
    }
    .a-text-box{
        font-size: 16px;
    }
}