@media screen and (max-width: 600px){
    .box{
        display: grid;
        height: 100vh;
        grid-template-areas:
                "header header header"
                "b b b"
                "c d e"
                "footer footer footer";
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        border: 1px solid;
        grid-gap: 5px;
    }
}