body{
    margin: 10px;
    height: 100vh;
}
header{
    height: 25vh;
    background-color: gold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
section{
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section>div:nth-child(1){
    width: 70vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
    margin-right: 10px;
}
section>div:nth-child(2){
    width: 30vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkcyan;
}