body{
    margin: 0;
    width: 100vw;
}
.news{
    height: 100vh;
    padding: 152px 147px 141px 147px;
    text-align: center;
}
.box-news{
    width: 80vw;
    height: 52vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inner-box{
    width: 25vw;
    height: 52vh;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 40px 15px 136px 0 rgba(0, 0, 0, 0.20);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.inner-box img{
    width: 25vw;
    height: 29vh;
}
.inner-box:nth-child(1){
    margin-right: 30px;
}
.inner-box:nth-child(2){
    margin-right: 30px;
}
.text-box{
    width: 25vw;
    height: 23vh;
    text-align: left;
    /*padding: 30px;*/
}
.news>h2{
    color: #000;
    font-family: "Josefin Sans", sans-serif;
    font-size: 43px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    margin-bottom: 20px;
}
.news>p{
    color: #000;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 60px;
}
.text-box h3{
    color: #000;
    font-family: "Josefin Sans", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    margin: 30px 0 10px 30px;
}
.text-box p{
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin: 0 0 20px 30px;
}
.text-box a{
    text-decoration: none;
    color: #FF4B32;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    margin: 0 30px 30px 30px;
}
